<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766321402671-utsceftb5jtbqn1olfvdb5bnnjkhor3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766321402671-utsceftb5jtbqn1olfvdb5bnnjkhor3h</string>
	<key>API_KEY</key>
	<string>AIzaSyBE9UpNr2U9V2IpSIwjgrqSGBlQPOkqUx8</string>
	<key>GCM_SENDER_ID</key>
	<string>766321402671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quinntrang.ChitChat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-56130</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-56130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766321402671:ios:1a6e226b54e0125d7c37da</string>
	<key>DATABASE_URL</key>
	<string>https://chitchat-56130.firebaseio.com</string>
</dict>
</plist>